google-cloud-bigquery
google-cloud-secret-manager
jinja2
playwright
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
google-cloud-storage==2.16.0
google-auth==2.29.0
matplotlib
flask